
#macro(showSimpleError)
    #if(!$!actionErrors.empty)
        #foreach($str in $actionErrors)
            $!str
            #break
        #end
    #end
#end

#macro(showOrderStateInfo $status)
    #if($status==1) 尊敬的客户，我们还未收到订单的款项，请您尽快支付（<a style="color:#005AA0" href="http://www.jd.com/help/onlinepay.aspx">在线支付帮助</a>），该订单会为您保留12小时（从下单之日算起），12小时之后如果还未付款，系统将自动取消该订单。<br/>
    如果您使用在线支付，银行返回支付成功信息稍有延迟,订单付款状态在1~2分钟内会自动更新，属正常情况。
    #elseif($status==2) 订单已提交成功，请您尽快付款，感谢您在京东的购物，祝您购物愉快。
    #elseif($status==4) 正在为您充值，请您耐心等候。感谢您在京东的购物，祝您购物愉快。
    #elseif($status==8) 正在为您充值，请您耐心等候。感谢您在京东的购物，祝您购物愉快。
    #elseif($status==16) 正在为您充值，请您耐心等候。感谢您在京东的购物，祝您购物愉快。
    #elseif($status==64)  交易已经完成，感谢您在京东商城购物。
    #elseif($status==2056) 正在为您充值，请您耐心等候。感谢您在京东的购物，祝您购物愉快。
    #elseif($status==2080) 正在为您充值，请您耐心等候。感谢您在京东的购物，祝您购物愉快。
    #elseif($status==8224) 尊敬的用户，由于网络等问题导致充值失败，已经为您提交退款，给您带来的不便请谅解！
    #elseif($status==32800) 尊敬的用户，由于网络等问题导致充值失败，已经将充值款项按照您原来的支付方式退回，请核实。
    #elseif($status==16416) 尊敬的用户，由于网络等问题导致充值失败，已经为您提交退款，给您带来的不便请谅解！
    #elseif($status==2176) 正在为您充值，请您耐心等候。感谢您在京东的购物，祝您购物愉快。
    #elseif($status==8320)您的订单部分充值成功，已经为您提交退款，给您带来的不便请谅解！
    #elseif($status==32896) 您的订单部分充值成功，已经将剩余的充值款项按照您原来的支付方式退回，请核实，给您带来的不便请谅解！
    #elseif($status==16512) 您的订单部分充值成功，已经为您提交退款，给您带来的不便请谅解！
    #elseif($status==256) 您的订单超时未支付，已取消。如需继续充值，请您点击【还要买】继续充值。
    #elseif($status==65536) 尊敬的客户，目前订单正在系统对账中，如果您确认已经付款成功，请您耐心等待。特殊情况长时间未返回确认结果，请您致电客服中心咨询400-611-5718。
    #else 其他
    #end
#end