#* @vtlvariable name="receiverName" type="java.lang.String" *#
#* @vtlvariable name="screen_content" type="java.lang.String" *#
<!DOCTYPE html PUBLIC>
<html>
#parse("layout/head.vm")
<body id="mainframe">

#parse("layout/head2.vm")
$screen_content
#parse("layout/bottom.vm")
#parse("layout/footer.vm")
#parse("layout/static.vm")
</body>
</html>

 