<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
              http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
              http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

        <bean id="p1" class="com.reflect.domain.People"
              p:name="小明"
              p:age="28"
              p:gender="男"/>

        <!-- BeanFactory的生命周期 -->
        <bean id="beanLife" class="com.lifecycle.BeanLife"
              p:lifeName="beanFactory的lifeName"
              p:period="1"
              init-method="myInit"
              destroy-method="myDestory"
              scope="singleton"/>

        <!-- 使用ApplicationContext加载才生效 -->
        <bean id="myBeanPostProcessor" class="com.lifecycle.MyBeanPostProcessor"/>
        <bean id="myBeanFactoryPostProcessor" class="com.lifecycle.MyBeanFactoryPostProcessor"/>
</beans>